* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "AcuminPro-Regular", Helvetica, Arial, sans-serif;
    font-size: 1.125rem;
    color: #3C465D;
    line-height: 1.4;
}

.chat-box {
    max-width: 36rem;
    margin: 4rem auto;
    background: #D8E0E6;
    box-shadow: 0 2px .875rem 0 rgba(0,0,0,0.07);
    border-radius: .5rem;
    padding: 1rem;
}

img, iframe, video {
    max-width: 100%;
    height: auto;
}

.text-bar {
    display: flex;
    padding: .5rem;
    width: 100%;
}

.input-bar input {
    width: calc(80% - 1rem);
    height: 3rem;
    border: 0;
    border-radius: .25rem;
    margin-right: 1rem;
    padding: 1rem;
    font-size: 1rem;
}

.input-bar button {
    width: 20%;
    border: none;
    height: 3rem;
    border-radius: .25rem;
    background: #21A4F8;
    color: white;
    text-transform: uppercase;
    font-size: .875rem;
}

.messages {
    background: #fff;
    border-radius: .25rem;
    list-style-type: none;
    padding: 0;
    overflow: scroll;
    height: 22rem;
    margin: 0 0 1rem 0;
}

.messages li {
    padding: 1em;
}

.messages > li:nth-child(even) {
    background: #F4F6F8;
}

.votes {
    display: inline-block;
    text-align: center;
    background: #21A4F8;
    padding: .25rem .5rem;
    color: #fff;
    border-radius: 2rem;
    margin-left: .25rem;
    height: 29px;
}

.poll ol {
    padding-left: 1.1rem;
}

.poll li {
    padding: .5rem 0 0 .5rem;
}

.poll label {
    margin-left: .25rem;
}