{% extends "components/_layout.html" %}

{% block content %}

<ul id="messages">
    {% for item in log %}
        {% if item.type == "poll" %}
            {{ item.pollIndex }}
            <ol>
                {% for option in poll.options %}
                    <li><input type="radio" name="poll-1" id="optie-1">{{ option.value }}</li>
                {% endfor %}
            </ol>
        {% else %}
            <li>{{ item.msg }}</li>
        {% endif %}
    {% endfor %}
</ul>

<form class="text-bar" action="">
    <input id="m" autocomplete="off" value="/poll optie1 optie2 optie3"/><button>Send</button>
</form>

{% endblock %}